* {
	/*outline: 1px solid red !important;*/
	box-sizing: border-box;
}

.container-fluid {
	width: 100%;
}

body, a {
	color: #fff;
}

header {
	background: red;
 /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(rgba(254,27,10,1), rgba(127,32,25,1));
 /*Safari 5.1-6*/
	background: -o-linear-gradient(rgba(254,27,10,1), rgba(127,32,25,1));
 /*Opera 11.1-12*/
	background: -moz-linear-gradient(rgba(254,27,10,1), rgba(127,32,25,1));
 /*Fx 3.6-15*/
	background: linear-gradient(rgba(254,27,10,1), rgba(127,32,25,1));
 /*Standard*/
}

.title {
	text-align: right;
	font-family: 'Parisienne', cursive;
	font-size: 50px;
}

#header-social li {
	font-size: 30px;
}

#footer-social li {
	font-size: 20px;
}

/*For large displays TODO: smaller displays*/
.greca img {
	height: 20px;
	margin: 0 auto;
	display: block;
	padding-left: 50px;

}

.mobile {
	text-align: center;
}

.nav-menu ul, .social-media ul, .footer-menu ul {
	list-style-type: none;
	width: 100%;
}

.nav-menu li {
	float: left;
	width: 25%;
	text-align: center;
}

.nav-menu li:last-child {
	border-right: none;
}

.img-responsive {
	margin: 0 auto;
}

.slideshow {
	height: 100vh;
	position: relative;
}

.info-boxes {
	position: absolute;
	bottom: 0;
}

.welcome-video, .extra-space, .upcoming-events {
	padding-bottom: 20px;
	margin: 0 auto;
}

footer {
	background: red;
 /* For browsers that do not support gradients */
	background: -webkit-radial-gradient(rgba(254,27,10,1), rgba(127,32,25,1));
 /*Safari 5.1-6*/
	background: -o-radial-gradient(rgba(254,27,10,1), rgba(127,32,25,1));
 /*Opera 11.1-12*/
	background: -moz-radial-gradient(rgba(254,27,10,1), rgba(127,32,25,1));
 /*Fx 3.6-15*/
	background: radial-gradient(rgba(254,27,10,1), rgba(127,32,25,1));
}

.footer-menu ul, .social-media ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.footer-menu ul {
	padding-top: 8px;
}

.credit-logo {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

/*TODO: fix for smaller screens*/
@media screen and (max-width: 401px) {
  .info-boxes {
  	display: none;
  	}
}