* {
	/*outline: 1px solid red !important;*/
	box-sizing: border-box;
}

.container-fluid {
	width: 100%;
}

header {
	background: red;
 /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(rgba(254,27,10,1), rgba(127,32,25,1));
 /*Safari 5.1-6*/
	background: -o-linear-gradient(rgba(254,27,10,1), rgba(127,32,25,1));
 /*Opera 11.1-12*/
	background: -moz-linear-gradient(rgba(254,27,10,1), rgba(127,32,25,1));
 /*Fx 3.6-15*/
	background: linear-gradient(rgba(254,27,10,1), rgba(127,32,25,1));
 /*Standard*/
	color: #fff;
}

.title {
	text-align: right;
	font-family: 'Parisienne', cursive;
	font-size: 50px;
}

.social-media li {
	float: left;
	width: 25%;
	font-size: 30px;
	padding: 5%;
}

.greca {
	max-width: 100%;
}

/*For large displays TODO: smaller displays*/
.greca img {
	height: 20px;
	margin: 0 auto;
	display: block;
	padding-left: 50px;

}

.mobile {
	text-align: center;
}

.slideshow {
	margin: 0 auto;
}

.nav-menu {
	width: 100%;
}

.nav-menu ul, .social-media ul {
	list-style-type: none;
	width: 100%;
}

.nav-menu li {
	float: left;
	border-right: 1px solid #bbb;
	width: 25%;
	text-align: center;
}

.nav-menu li:last-child {
	border-right: none;
}

.img-responsive {
	margin: 0 auto;
}